.debug [class^="col-"] {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* Header */

nav {
  background: #2c3e50;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#logo {
  height: 90px;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 90px;
}

#logo a {
  color: #fff;
}

#menu {
  height: 90px;
  line-height: 90px;
}

#menu button {
  margin-top: 26px;
}

.ms_menu_list {
  color: #fff;
}

.ms_menu_list li {
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}

.ms_menu_list li:last-child {
  margin-right: 0;
}

.btn-primary {
  background: #1abc9c;
  font-size: 1.2em;
  font-weight: 600;
}

.glyphicon-menu-hamburger {
  color: #fff;
  margin-left: 5px;
  font-size: 0.9em;
}

.ms_jumbo {
  background: #1abc9c;
  margin-top: 90px;
  padding: 50px 0 90px;
  width: 100%;
  color: #fff;
}

.ms_wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.jumbo-elements img {
  width: 180px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

.ms_stella {
  margin: 25px 0;
}

.ms_stella > * {
  display: inline-block;
  vertical-align: middle;
}

.ms_hr {
  width: 100px;
  height: 4px;
  margin: 0 10px;
  border-radius: 10px;
}

.ms_hr_wh {
  background: #fff;
  color: #fff;
}

.ms_hr_bk {
  background: #2c3e50;
  color: #2c3e50;
}

.ms_jumbo p {
  font-size: 1.35em;
  font-weight: 500;
  margin: 0;
}

.glyphicon-star {
  font-size: 2.5em;
}

.ms_g_st_wh {
  color: #fff;
}

.ms_g_st_bk {
  color: #2c3e50;
}

/* Main */

h2 {
  color: #2c3e50;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0;
}

section {
  padding: 80px 0 60px;
}

#portfolio {
  background: #fff;
  width: 100%;
}

.port_box {
  background: red;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.port_box img {
  width: 100%;
}

.tondo-port {
  background: yellow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#casa {
  background: #ba4b63;
}

#torta {
  background: #1ea4b6;
}

#circo {
  background: #140f0f;
}

#gamepad {
  background: #1c83c1;
}

#cassaforte {
  background: #0e38b5;
}

#submarine {
  background: #ccb2a3;
}

#about {
  background: #1abc9c;
  width: 100%;
}

#about h2 {
  color: #fff;
}

.about_text {
  margin: 10px 0;
}

.about_text p {
  font-size: 1.3em;
  color: #fff;
}

.ms_btn_dwn_cont {
  margin-top: 20px;
}

.ms_btn_dwn {
  background: #1abc9c;
  border: 1px solid #fff;
  margin: 0 auto;
}

.glyphicon-menu-save {
  color: #fff;
  font-size: 1.5em;
}

#contact {
  background: #fff;
  width: 100%;
}

.ms_contact_wrapper {
  width: 80%;
  margin: 0 auto;
}

.contact_form {
  background: purple;
  height: 600px;
}

.ms_btn_send {
  background: #1abc9c;
  border: none;
  padding: 20px 30px;
}

/* Footer */

footer .ft-top,
footer .ft-bott {
  padding: 20px 0;
}

.ft-top {
  background: #3a546d;
  color: #fff;
}

.ft-top h3 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 15px;
}

.ft-top p {
  font-size: 1.3em;
}

.ms_ft_top_block {
  margin: 50px 0;
}

.ft-bott {
  background: #2c3e50;
}

.ft-bott p {
  font-size: 0.9em;
  color: #fff;
  margin: 5px;
}
